<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>User info</h1>

      <%= form_with model:@user, local: true do |f| %>
      <p>Name</p><br>
      <%= f.text_field :name %><br>

      <p>Image</p><br>
      <%= f.attachment_field :profile_image %><br>

      <p>Introduction</p><br>
      <%= f.text_area :introduction %><br>

      <%= f.submit 'Update User' %>

      <% end %>
    </div>
  </div>
</div>